.navbar-brand img {
  border-radius: 8px;
}
.navbar {
  padding: 10px 0;
}

.nav-items img {
  height: 500px;
  object-fit: cover;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  padding: 15px;
  border-radius: 10px;
}

.nav-items {
  height: 80vh; /* responsive height */
  min-height: 300px;
}

.nav-items img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* keeps image ratio perfect */
}

.carousel-caption {
  bottom: 20%;
  background: rgba(0,0,0,0.5);
  padding: 15px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .nav-items {
    height: 60vh;
  }

  .carousel-caption h2 {
    font-size: 18px;
  }

  .carousel-caption p {
    font-size: 12px;
  }
}

.nav-pills .nav-link {
  border-radius: 50px;
  padding: 8px 18px;
  background: #dbe7ea;
  color: #333;
  margin: 5px;
}

.nav-pills .nav-link.active {
  background: #f5d7a1;
  color: #000;
}

.card {
  background: #f3f3f3;
  border: none;
}

section h2 {
  font-weight: 700;
}

section p {
  font-size: 15px;
  line-height: 1.7;
}

.contact-section {
  background: linear-gradient(135deg, #3f8ea3, #6bbac9);
}

.contact-info {
  background: rgba(255,255,255,0.1);
  color: #fff;
  border-radius: 15px;
  backdrop-filter: blur(10px);
}

.contact-form {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.contact-form .form-control {
  border-radius: 10px;
  padding: 10px;
}

.contact-form button {
  border-radius: 10px;
  padding: 10px;
  font-weight: 600;
}

.footer {
  background: #0f172a;
  color: #fff;
  font-size: 14px;
}

.footer p {
  margin: 0;
  letter-spacing: 0.5px;
}

#scrollTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  background: #0d6efd;
  color: #fff;
  border: none;
  outline: none;
  padding: 12px 15px;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
  display: none;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: 0.3s;
}

#scrollTopBtn:hover {
  background: #084298;
}

.team-card {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  transition: 0.3s;
  height: 400px;
}

.team-card:hover {
  transform: translateY(-5px);
}

.team-card img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.counter {
  font-size: 40px;
  font-weight: bold;
}

.counter-section p {
  margin-top: 10px;
  font-size: 16px;
}

.review-card {
  max-width: 500px;
  background: #fff;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 5px 25px rgba(0,0,0,0.1);
}

.review-card img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.bank-card {
  background: #fff;
  padding: 10px;
  border-radius: 12px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.bank-card:hover {
  transform: translateY(-5px);
}

.bank-card img {
  max-width: 100%;
  height: 90px;
  object-fit: contain;
  border-radius: 10px;
}

.card-h{
  min-height: max-content;
}